---
extends: default

rules:
  # Allow 100 chars
  line-length:
    max: 100
    level: error
  # Don't need "---"
  document-start:
    ignore:
      - .github/workflows/
  # Don't warn "on" keyward (e.g. on: push)
  truthy:
    ignore:
      - .github/workflows/
